* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(212, 45%, 89%);
  display: grid;
  place-items: center;
  margin-top: 150px;
}

.container {
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
}
img {
  width: 280px;
  height: 280px;
  margin: 12px;
  border-radius: 15px;
}
pre {
  text-align: center;
  font-family: "Outfit", sans-serif;
}
.first {
  margin-bottom: 12px;
  font-size: 22px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}
.details {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  font-size: 15px;
}
